.Back_button {
    -fx-background-color: #A4ABEE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 40px 15px;
    -fx-background-radius: 40px 15px;
    -fx-border-style: solid;
    -fx-border-color: #333A56;
    -fx-font-family: "Black Ops One";
    -font-size: 14px;
    -fx-text-alignment: right;
}
.button {
    -fx-background-color: rgba(250, 250, 250, 1);
    -fx-background-radius: 15;
    -fx-text-fill: gray;
}

.OtherButton {
    -fx-background-color: transparent;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 60px;
    -fx-background-radius: 60px;
    -fx-border-style: solid;
    -fx-border-color: #2A2A2A;
    -font-size: 14px;
    -fx-font-family: "Black Ops One";
}

.button:hover {
    -fx-background-color: #DCB1B8;
}

.back_image:hover {
    -fx-background-color: #DCB1B8;
}

.ellipsis-label {
    -fx-padding: 10;
}
.ellipsis-text {
    -fx-font-size: 14px;
    -fx-wrap-text: false;
    -fx-text-overrun: ellipsis-word;
}
.responsive-image {
    -fx-preserve-ratio: true;
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
}
