.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: null;
}
