.login-form {
  -fx-background-color: linear-gradient(from 30% 5.85% to 73.475% 94.15%, #F4E7F8, #F2DDDC, #F6BCBA,#E3AADD,#C8A8E9, #C3C7F4);
}

.button {
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #108AB1, #D3A29D, #F6BCBA,#E3AADD,#C8A8E9, #C3C7F4);
}

.button:hover {
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #EECC8C, #9EABA2);
}

.trans {
  -fx-background-color: transparent;
}