.MenuBar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #94C3FC, #E1C2FC);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #C1E3FF, #563A9C);
}

.Button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 80%, #3190E9, #93CFC7);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #F8C390, #D279EE);
    -fx-font-family: "Black Ops One";
    -font-size: 14px;
    -fx-text-alignment: right;
}

.OtherButton {
    -fx-background-color: #2A2A2A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 60px;
    -fx-background-radius: 60px;
    -fx-border-style: solid;
    -fx-border-color: #2A2A2A;
    -font-size: 14px;
}

.pane {
    -fx-background-color: #A4ABEE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 0 10px 10px 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #A4ABEE;
}

.Setting {
    -fx-background-color: #262B40;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
    -fx-border-color: #262B40;
}

.alata-text{
    -fx-font-family: "Alata";
}

.setting_textField {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #858585;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.Save_Change_Button {
    -fx-background-color: #5A6076;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #333A56;
    -fx-text-alignment: right;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #EECC8C, #E8B298, #BDD1C5);
}