.MenuBar {
    -fx-background-color: #333A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #333A56;
}

.Button {
    -fx-background-color: #2A2A2A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #333A56;
}

.logout {
    -fx-background-color: #2A2A2A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 60px;
    -fx-background-radius: 60px;
    -fx-border-style: solid;
    -fx-border-color: #2A2A2A;
}